@import "base/nullStyle";

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p,
div,
a {
  margin: 0;
  padding: 0;
}
.container{
  max-width: 1100px;
  margin: 0 auto;
}
@import "block/_header.scss";
@import "block/_body.scss";
@import "block/_footer.scss"